// font, color
$font-stack: 'Roboto', 'Noto Sans KR', sans-serif;
$base-bgcolor: #edeef2;
$base-font-weight: 400; 
$base-line-height: 1.4;
$base-radius: 5px;
$base-font-size: 14px;
$circle-btn-size: 85px;
$base-text-rfcolor: #ffffff;
$base-text-color: #1B1D1F;
$base-bg-color: #F7F8F9;
$buton-basic-color: #1B1D1F;
$buton-second-color: #454C53;
$buton-desc-color: #26282B;
$buton-color: #377D2F;
$buton-color2:#F3F7F2;
$scrollbar: #72787F;
$disabled-color: #C9CDD2;
$disabled-bg: #E8EBED;
$guide-color: #9EA4AA;
$button-bgcolor: transparent;
$primary-color: #B40000;
$background-color: #EFF1EF;
$category-bg-color: #F5F5F5;
$best-color: #FFBB00;
$possible-color: #4E82C5;
$sm-txt-color: #89909A;
$disabled2-color: #C5C8CB;


// url
$img-url: '../../img/common/';
$img-temp-url: '../../img/temp/';